<div class="content">
    <h3 id="web">{{ text_heading }}</h3>

    <h4 style="margin-top: 50px;">{{ text_toc_title }}</h4>
    <ul class="toc">
        <li>
            <a href="#static">{{ text_toc_1 }}</a>
        </li>
    </ul>

    <h4 id="static">{{ text_toc_1 }}</h4>
    
    <div class="item">
        <div class="thumb" style="background-image: url(/assets/images/mobile/01_instagram.jpg)"></div>
        <div class="item-content">
            <h4>{{ project_1_title }}</h4>
            <p>{{ project_1_desc }}</p>
            <div class="fill"></div>
            <div class="links-line">
                <a class="btn gh-link" target="_blank" href="https://github.com/EduardoJM/rn-expo-instagram-clone">GitHub</a>
                <a class="btn youtube-link" target="_blank" href="https://youtu.be/Vwug-k8TgE8">YouTube</a>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="thumb" style="background-image: url(/assets/images/mobile/02_nubank.jpg)"></div>
        <div class="item-content">
            <h4>{{ project_2_title }}</h4>
            <p>{{ project_2_desc }}</p>
            <div class="fill"></div>
            <div class="links-line">
                <a class="btn gh-link" target="_blank" href="https://github.com/EduardoJM/rn-expo-nubank-interface-clone">GitHub</a>
                <a class="btn youtube-link" target="_blank" href="https://www.youtube.com/watch?v=x0IL21lbc8w">YouTube</a>
            </div>
        </div>
    </div>

    <div class="back-row">
        <a href="/{{ link_part }}index.html" class="btn btn-back">{{ back_link }}</a>
    </div>
</div>